@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rubik:wght@300&family=Taviraj:wght@100;200&display=swap');

@keyframes fadeIn {
  from {
    /*background-color: #5CC6FF;*/
    opacity: 0;
  }

  to {
    /*background-color: #EDF1FC;*/
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s;
}

body, html{
  height: 75%;
  margin: 0;
  background-color: #EDF1FC;
  font-family: 'Rubik';
  font-weight: light;
}

img {
  width: 500px;
  height: 340px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.tablinks{
  font: bold 1.2rem "Fira Sans", Taviraj;
  background-color: #2E2B34;
  height: 50px;
  border: none;
  color: white;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  transition-duration: 0.3s;
}

.tablinks:hover{
  padding: 3px;
  background-color: #D6D3CC;
}



.content{
  font-style: 'Roboto';
  font-size: large;
  padding: 10%;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 15%;
  margin-bottom: 0px;/* Ensure the parent container has a defined height */
  display: flex;
  flex-direction: column;
  height: 100%;  /* Change to column for vertical layout */
}

/* Add this style to make child elements stretch vertically */
.content > * {
  flex: 1;
}


.tab{
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #2E2B34;
}

#skill_page, #project_page, #contact_page{
    display: none;
}

#skill_page{
  padding-bottom: 100px;
  margin-bottom: 30px;
}

#main_page{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
}

.navbar {
  background-color: #29252D;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: center;
}

xmlns:hover{
  width: 120%;
  height: 120%;
  background-color: #D6D3CC;
}

xmlns {
  fill: #EDF1FC;
}
