@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rubik:wght@300&family=Taviraj:wght@100;200&display=swap');

@keyframes fadeIn {
  from {
    background-color: #94D1BE;
    opacity: 0;
  }

  to {
    background-color: #DAF0EE;
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s;
}

body, html{
  height: 100%;
  margin: 0;
  background-color: #DAF0EE;
  font-family: 'Rubik';
  font-weight: light;
}

img {
  width: 500px;
  height: 340px;
}

.tablinks{
  font: bold 1.2rem "Fira Sans", Taviraj;
  background-color: #230007;
  height: 50px;
  border: none;
  color: white;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  transition-duration: 0.3s;
}

.tablinks:hover{
  padding: 3px;
  background-color: #94D1BE;
}


.content{
  font-style: 'Roboto';
  padding: 10%;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 0px;/* Ensure the parent container has a defined height */
  display: flex;
  flex-direction: column;
  height: 100%;  /* Change to column for vertical layout */
}

/* Add this style to make child elements stretch vertically */
.content > * {
  flex: 1;
}


.tab{
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #230007;
}

#skill_page, #project_page, #contact_page{
    display: none;
}

#main_page{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
}
